body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgb(181, 211, 227), rgb(107, 114, 107));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  transition: .3s;
  font-family: 'Gill Sans';
}

input {
  width: 460px;
  margin: 0 auto;
}

header {
  text-align: center;
  background: linear-gradient(to top, rgb(40, 76, 40), rgb(111, 158, 240));
  padding: 20px;
  box-shadow: 0px 5px 5px black;
}

h1 {
  font-size: 45px;
  margin: 10px;
  font-family: 'Libre Baskerville';
}

.navlink {
  color: white;
  font-family: 'Libre Baskerville';
  background-color: darkgreen;
  padding: 5px;
  border-radius: 10px;
  opacity: .5;
}

.navlink:active {
  color: rgb(134, 134, 210);
}

.activenav {
  opacity: 1;
}

nav {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.half {
  width: 515px;
  text-align: center;
  margin: 0;
}

#contacts, input[type='submit'] {
  width: 468px;
  cursor: pointer;
}

input[type='date'], input[type='time'] {
  width: 463px;
}

h2 {
  width: 515px;
  font-size: 35px;
  font-family: 'Comic Neue';
  margin: 40px 0 20px 0;
  text-decoration: underline;
}

input, #contacts {
  margin: 20px;
  font-size: 26.5px;
  border-radius: 5px;
}

.card {
  margin: 30px auto;
  font-size: 30px;
  border-top: 1px solid black;
  padding: 20px;
  width: 50%;
}

.bottom {
  margin-bottom: 50px;
  height: 500px;
  overflow: scroll;
}

#vertline {
  background-color: black;
  width: 5px;
  height: 80%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.delete {
  background-color: maroon;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.other {
  background-color: rgb(144, 144, 219);
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 70px;
}

.container {
  width: 150px;
  margin: 0 auto;
  position: relative;
  bottom: 20px;
}

.card p {
  margin: 5px;
}

p {
  font-size: 30px;
}

.cardedit {
  width: 300px;
  position: relative;
  right: 40px;
}

.other, .delete {
  margin: -10px 10px;
}

@media screen and (max-width: 1030px) {
  #vertline {
    display: none;
  }
}

@media screen and (max-width: 515px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  input, input[type='submit'], input[type='time'], input[type='date'], #contacts {
    font-size: 20px;
    width: 300px;
  }
}
